/* LANDING */

.landing {

min-height:100vh;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;

}


.landing-image {

width:min(90vw,1200px);

}



.landing-links {

display:flex;
gap:40px;
margin-top:40px;

}


.landing-links a {

text-decoration:none;
color:black;
font-size:18px;

}




/* ILLUSTRATION ARCHIVE */


.archive {

padding:5vw;

}


.archive h2 {

font-size:70px;
font-weight:300;
margin-bottom:100px;

}



.artwork {

margin-bottom:140px;

}



.artwork img {

width:100%;
max-width:1400px;

}



.artwork div {

margin-top:20px;

}



.artwork h3 {

font-weight:400;
font-size:28px;

}



.artwork p {

font-size:14px;

}body {

cursor:none;

}


.cursor {

position:fixed;

width:30px;
height:30px;

border-radius:50%;

border:1px solid black;

pointer-events:none;

transform:translate(-50%,-50%);

z-index:9999;

transition:
width .3s,
height .3s;

}
