* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    background: #f7f3ec;
    color: #111;
    font-family: Helvetica, Arial, sans-serif;
}


/* HEADER */

header {
    padding: 35px 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


h1 {
    margin:0;
    font-size: clamp(28px,4vw,50px);
    font-weight:400;
    letter-spacing:-2px;
}


/* NAVIGATION */

nav {
    display:flex;
    gap:25px;
}


nav a {
    color:#111;
    text-decoration:none;
    text-transform:uppercase;
    font-size:12px;
    letter-spacing:1px;
}


nav a:hover {
    opacity:0.4;
}


/* INTRO */

.intro {
    padding:8vw 5vw;
    max-width:1100px;
}


.intro h2 {
    font-size:clamp(30px,5vw,70px);
    font-weight:300;
    line-height:1.1;
}


/* BILDER */

.gallery {

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
    padding:5vw;

}


.gallery img {

    width:100%;
    display:block;
    transition:transform .5s;

}


.gallery img:hover {

    transform:scale(1.03);

}


/* UNTERSEITEN */


.page {

padding:5vw;

}


.page h2 {

font-size:clamp(40px,7vw,90px);
font-weight:300;

}


.project {

margin-bottom:80px;

}


.project img {

width:100%;
height:auto;

}


.project p {

font-size:16px;
max-width:600px;
line-height:1.5;

}


/* MOBILE */

@media(max-width:700px){


header {

display:block;
padding:25px;

}


nav {

margin-top:25px;
display:flex;
flex-direction:column;
gap:15px;

}


nav a {

font-size:14px;

}


.intro {

padding:40px 25px;

}


.gallery {

display:block;
padding:25px;

}


.gallery img {

margin-bottom:25px;

}


.page {

padding:25px;

}


.project {

margin-bottom:50px;

}


}
